/* common cs start  */

/* font-family: 'Lato', sans-serif;
   font-family: 'Roboto', sans-serif;
 */
*,
::after,::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
    background-color: #fff;
}
html{
    scroll-behavior: smooth;
}
img {
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.c_bottom_padding {
    padding-bottom: 100px;
}
.c_margin_bottom {
    margin-bottom: 80px;
}
/* Common css End  */

/* Header Start  */
header {}
.logo h1 {
    font-size: 30px;
    font-weight: 500;
    color: #333;
    text-transform: uppercase;
}
.menu ul li a{
    font-size: 16px;
    font-weight: 700;
    color: #8e8e8e !important;
    padding: 0 15px !important;
    text-transform: uppercase;
    transition: .3s;
}
.menu ul li a:hover {
    color: #333 !important;
}
.s_a {
    color: #8e8e8e;
    border: none;
}
.s_a:hover {
    color: #333;
}
.s_a::after {
    display: none;
}
/* Header End  */
.search{}
 .search-bar{
 	position: relative;
 	background: #fff;
 	padding: 5px;
    border: 1px solid #333;
 	border-radius: 5px;
 }
 .search-bar input{
 	background: transparent;
 	width: 100%;
 	border: none;
 	box-sizing: border-box;
 }
 .search-bar input:focus{
 	outline: 0;
 }
 .search-bar button{
 	background: transparent;
 	border: none;
 	position: absolute;
 	top: 50%;
 	right: 10px;
 	transform: translateY(-50%);
 }
 .Mobile-serch-icon {
     cursor: pointer;
 }
/* slider start ==========  */
.banner {
    background-image: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.1)), url(../images/slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 650px;
}
.b_slider {}
.b_item {
    margin-top: 210px;
    margin-bottom: 210px;
}
.b_item h1 {
    font-size: 60px;
    font-weight: 700;
    color: #fff;
}
.b_item p {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 50px;
}
.c_button button {
    font-weight: 700;
    width: 200px;
    height: 50px;
    background-color: #fff;
    color: rgb(3, 3, 3);
    border: none;
    border-radius: none;
    text-transform: uppercase;
    transition: .3s;
    cursor: pointer;
}   
.c_button button:hover {
    color: #fff;
    background-color: #333;
}
.n_btn {
    background-color: transparent;
    border: none;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.p_btn {
    background-color: transparent;
    text-transform: uppercase;
}   
.b_span {
    font-weight: 700;
}
.b_span_2 {
    color: #333;
    font-weight: 700;
}
/* slider end ==========  */

/* Service Start  */
.service {
    padding-bottom: 100px;
    overflow: hidden;
}
.heading-title {
    text-align: center;
}
.s_b {
    margin: 0 auto 20px;
    width: 2px;
    height: 50px;
    background-color: #333;
}
.heading-title .h2_title {
    font-size: 30px;
    font-weight: 400;
    color: #333333;
    margin-bottom: 40px;
    text-transform: uppercase;
}
.heading-title .p_heading_title {
    padding: 0 5px;
    line-height: 30px;
}
.s_content {
    margin-top: 100px;
}
.s_item {
    text-align: center;
    padding: 30px 15px;
    border: 1px solid #8e8e8e;
    position: relative;
    z-index: 0;
    transition: .5s;
}
.s_item:hover {
    border: 1px solid #333;
}
.s_item:hover .service_icon, .s_item a{
    color: #000;
}
.s_item:hover .s_link {
    color: #333
}
.s_item .s_icon-parent {
    position: absolute;
    top: -27px;
    left: 38%;
    width: 70px;
    background: white;
    z-index: 999;
    transition: .3s;
}
.service_icon {
    font-size: 60px;
}
.s_item h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-top: 40px;
    text-transform: uppercase;
}
.s_hr {
    margin: 20px auto;
    width: 50px;
    height: 2px;
    background-color: #8e8e8e;
}
.s_item .s_p {
    margin-bottom: 40px !important;
}
.s_item a{
    font-weight: 700;
    text-align: center;
    color: #8e8e8e;
    text-transform: uppercase;
    transition: .3s;
}
.fa-arrow-right-long {
    margin-left: 20px;
}
/* Service End  */

/* About Start  */
.about {
    padding-bottom: 100px;
}
.a_img img{
    width: 100%
}
.a_text {
    margin-top: -8px;
}
.a_heading {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}
.a_p_1 {
    margin-top: 25px;
    margin-bottom: 40px;
}
[class^='a_p_'] {
    line-height: 30px;
}
.s_item a {
    
}
.a_button {
    border: 1px solid #333;
    display: inline-block;
}
/* About End  */

/* Portfolio Start  */
.portfolio {
    background-color: #f7f7f7;
    padding-bottom: 90px;
}
.portfolio-content{
    margin-top: 60px;
}
.portfolio-content img{
	margin-bottom: 20px;
	width: 100%;
}
.portfolio-buttons{
	text-align: center;
	padding: 15px 10px;
    margin-bottom: 30px;
}
.portfolio-buttons button{
	background: transparent;
    border: none;
	color: #8e8e8e;
	padding: 0 15px;
	transform: translateX(10%);
}
.portfolio-buttons button.portfolio-active-btn{
	color: #333;
    border: 1px solid #333;
}
/* ------  p info*/
.p_item {
    overflow: hidden;
    position: relative;
}
.p_overlay {
    background: rgba(0, 0, 0, .5);
	height: 95%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .5s;
    opacity: 0;
}
.p_item:hover .p_overlay {
    opacity: 1;
}
.p_info {
}
.p_info .fa-plus {
    font-size: 40px;
    color: #fff;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 100%
}
.info_title {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #333;
    background-color: #fff;
}
.p_title {
    margin-top: 15px;
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-left: 25px;
    text-transform: uppercase;
}
.p_subtitle {
    margin-left: 25px !important;
}
/* Portfolio End  */


/* why choose page start  */
.why_choose_page {
    padding-bottom: 100px;
    overflow: hidden;
}
.box-container{
    color: #8e8e8e;
    border-bottom: 2px solid #8e8e8e;
    margin-bottom: 30px;
}
.icon-box{margin-bottom: 20px;}
.icon-box i{
    font-size: 48px;
}
.icon-box h4{
    font-size: 18px;font-weight: bold;
}
.icon-box p{
    padding-bottom: 30px;
}
.box-container:hover{
    border-color: #333;
    color: #333;
}
/* why choose page   */

/* work start  */
.work_area {
    background-image: url(../images/work_banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.work-item {
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
.work-item img {
    width: 100%;
}
.work_title {
    margin-left: 30px;
}
.work_title h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    margin-top: 15px !important;
    text-transform: uppercase;
}
.work_title p {
    font-family: 'Roboto', sans-serif;
    margin-top: 15px !important;
    margin-bottom: 20px !important;
}
.overlay {
	position: absolute;
	right: 100%;
	bottom: 40%;
    padding-right: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: all .3s;
}
.overlay_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    background-color: #fff;
}
.overlay_info ul {
}
.overlay_info ul li {
    padding: 1px 8px;
}
.overlay_info ul li a {
    font-size: 26px;
    color: #8e8e8e;
    display: inline-block;
   transition: .3s;
}
.overlay_info ul li a:hover {
    color: #333;
}
.work-item:hover .overlay {
    right: 0;
    width: 0;
}
/* work end  */

/* price start  */
.price {}
.price_item {
    border: 1px solid #8e8e8e;
    padding: 40px 30px;
    position: relative;
    transition: .3s;
}
.c_position {
    position: absolute;
    top: -3%;
    left: 5%;
    text-align: center;
    width: 70px;
    height: 40px;
    background: #fff;
}
.c_width {
    width: 105px;
}
.c_position h3 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}
.price_item h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.price_item h2 span {
    font-size: 16px;
    font-weight: 400;
    color: #8e8e8e;
}
.price_item ul {
    font-family: 'Roboto', sans-serif;
}
.price_item ul li {
    line-height: 40px;
    white-space: nowrap;
}
.w_button {
    margin-top: 40px;
}
.w_button button {
    font-family: 'Roboto', sans-serif;
    color: rgba(142, 142, 142.5);
    text-transform: uppercase;
    transition: .3s;
}
/* hover  */
.price_item:hover {
    border: 1px solid #333333;
}
.price_item:hover .w_button button{
    border: 1px solid rgb(51, 51, 51);
}
/* hover  */
/* price end  */

/* template start  */
.nipro {
    background-color: #f8f8f8;
    padding: 40px 0;
}
.nipro_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.n_text {}
.n_text h2 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-transform: uppercase;
}
.n_button {
    border: 1px solid #333;
}
/* template end  */

/* Testimonial start  */
.testimonial {}
.t_content {
    padding: 40px 30px;
    border: 1px solid #8e8e8e;
}

.t_item {}
.t_image {}
.t_image img {}

.t_text {}
.t_text h2 {
    font-size: 18px;
    font-weight: 700;
    color: #333;
}
.t_text h3 {
    font-size: 18px;
    font-weight: 400;
    margin-top: 15px !important;
    margin-bottom: 15px !important;
}
.t_text h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    margin-bottom: 30px !important;
}
.t_text .p_testimonial_1 {
    line-height: 25px;
    margin-bottom: 40px !important;
}
.t_text .p_testimonial_2 {}

.t_button_item {
    margin-top: -20px;
   white-space: nowrap;
    display: flex;
    justify-content: space-between;
    transform: rotate(90deg);
    padding: 20px;
}
.t_button_box {
    padding: 20px 30px;
    background-color: #f8f8f8;
    border: 1px solid #8e8e8e
}
.t_button_item button {}
.t_button_item span {}
.c_padding {
    padding:0 80px;
}
.cb {
    color: #8e8e8e;
}
/* Testimonial end  */

/* contact start  */
.contact {}
.c_content {
    padding: 0 180px;
    border: 1px solid #8e8e8e;
    position: relative;
}
.contact_title {
    position: absolute;
    top: -6%;
    left: 39%;
    text-align: center;
    width: 215px;
    height: 40px;
    background: #fff;
}
.contact_title h2 {
    font-size: 30px;
    color: #333;
    text-transform: uppercase;
}
.c_width h2 {}

.name {
    margin-top: 100px;
}
.email {}
.contact_button {
    margin-left: 300px;
    margin-bottom: 40px;
}
/* common  */

form .c_custom {
    font-family: 'Roboto', sans-serif;
    display: block;
    margin-bottom: 30px;
    border-bottom: 1px solid #8e8e8e;
    border-right: none;
    border-left: none;
    border-top: none;
    border-radius: 0rem;
    box-shadow: none !important;
    margin-left: 20px;
    transition: .3s;
}
.c_custom:hover {
    color: #000 !important;
    font-weight: 700;
    border-bottom: 2px solid #333333;
}
/* common  */
/* contact end  */

/* footer start  */
.footer {
    background-image: linear-gradient(rgba(0,0,0, .1), rgba(0,0,0, .1)), url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.footer .heading-title h2{
    color: #fff;
}
.f_content {}
.f_content p {
    font-family: 'Roboto', sans-serif;
    line-height: 30px;
    color: #fff;
    padding: 0 10px;
    margin-bottom: 40px;
    text-align: center;
}
.f_icons {
    margin-bottom: 100px;
}
.f_icons ul {
    text-align: center;
}
.f_icons ul li {}
.f_icons ul li a {
    font-size: 26px;
    color: #fff;
    padding: 10px 15px;
    border: 1px solid #fff;
    transition: .5s;
}
.f_icons ul li a:hover {
    color: #333;
    background-color: #fff;
}
/* footer bottom  */
.footer_bottom {
    font-family: 'Roboto', sans-serif;
    border-top: 1px solid #fff;
    padding: 40px 0;
}
.footer_border {
    border: 1px solid #fff !important;
}
.footer_item {
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}
.developer {}
.developer p {}
.developer p .fa-r-project {
    color: #EE5A24;
    font-size: 18px;
    margin-left: 5px;
}

.important_links {}
.important_links ul li a {
    display: inline-block;
    color: #fff;
    padding: 0 15px;
}
.important_links ul li a:hover {
    color: #EE5A24;
}
/* footer end  */